*{
  padding:0;
  margin:10px 25px;
}
.header{
  background-color: palevioletred;
  height:60px;
  text-align: center;
  line-height: 50px;
}
#img1,
#img2,
#img3{
  height: 250px;
  width:250px;
  box-shadow: 8px 8px  rgba(0, 0, 255, .2);
  display:inline-block;
}
.title,
.red,
.part2 h3{
  font-family: (700,18px,"Open Sans",Arial,sans-serif);
  line-height:24px;
  color:purple;
}
h1{
  color:blue;
  cursor:pointer;
  text-align:center;
}
.part2 h1{
  margin-bottom: 0;
}
video{
  height:300px;
  width:500px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}
footer{
  background-color: palevioletred;
  height:60px;
  text-align:center;
  line-height:50px;
}

